/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Style TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* */

/* General */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Grotesk', serif;
    color: #191A23;
    background-color: #fafafa;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    transition: all 0.3s;
}

body::-webkit-scrollbar {
  display: none;
}

.center {
  transform: translate(-50%, -50%);
}
/* */

/* Links */
.link {
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}
.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #b9ff66;
  transition: width 0.4s ease-in-out;
}
.link:hover::after {
  width: 100%;
}
/* */

/* Input */
input[type="radio"] {
  @apply appearance-none w-6 h-6 border-4 border-blanc outline outline-1 outline-noir rounded-full transition-all duration-300 ease-in-out;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.9);
}
input[type="radio"]:checked {
  @apply bg-vert;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}
input[type="radio"]:hover {
  @apply cursor-pointer;
}

textarea {
  @apply outline outline-1 p-2 px-3 rounded-lg transition-all duration-200;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.9);
}
textarea:focus {
  @apply outline-vert;
}
/* */